*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    -color1:#fff;
    -color2:#000;
    -color3:#ff0000;
    -color4:#f9009e;
}
body{
    background-color: var(-color1);
    color: var(-color2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1{
    color: var(-color3);
    text-align: center;
    margin-top: 20px;
}